// Footer
footer {
    background: linear-gradient(to bottom,
            rgba(233, 236, 239, 0.9),
            rgb(233, 236, 239));
    color: $text-color;
    padding: 24px 0 12px 0;
    margin: 24px 0 0 0;
    width: 100%;

    a {
        color: $primary;
        border-bottom: 1px dotted $primary;
        text-decoration: none;
        transition: border-bottom 0.8s ease;

        &:hover {
            border-bottom: 1px solid $primary;
        }
    }

    text-align: center; // Zentrierter Text
}